<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<div class="card__collection clear-fix" >
    
    <div class="cards cards--three" *ngFor="let teacher of teachers" data-aos="flip-left" (click) = "goTo(teacher.id)" >
        <img src="{{teacher.img}}" style="height: 100%;width: 100%;" alt="">
        <span class="cards--three__rect-1">
          <span class="shadow-1"></span>
          <p>{{teacher.nom}}</p>
         
        </span>
        <span class="cards--three__rect-2">
          <span class="shadow-2"></span>
        
        </span>
        <span class="cards--three__circle"></span>
        <ul class="cards--three__list">
          <li><a href = "" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href = "" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href = "" target="_blank"><i class="fab fa-linkedin-in" ></i></a></li>
        </ul>
      </div>
    </div>
    
