
<section class="hero">
   
    <div class="hero-inner">
        <h1 >3all<b style="color:mediumslateblue">amni</b></h1>
        <h2>Your journey to success
            Develop your skills with our online courses offered by our best
            professors</h2>
        <a routerLink = "/login" class="btn">Get started</a>
    </div>
    
</section>

        
    
<div>
    <h1 style="text-align: center;padding-top: 50px;">Categ<b style = "color: mediumslateblue;">ories</b></h1>
</div>
<app-category ></app-category>
<about></about>
<h1 style="text-align: center;color:rgb(0, 0, 0);" >Our Top <b style = "color:mediumslateblue">3 Courses</b></h1>
<courses></courses>
<div style="text-align: center;">
<h1 style="color:rgb(0, 0, 0)">Our Best<b style = "color:mediumslateblue"> teachers</b> </h1>
<workers></workers>


</div>




    



