<link href="./teachers.component.css"  rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- about -->
<div class="about">
   <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>
<!-- end about -->
   
   <div class="content" id="about_part" data-aos="flip-up">
      
      <!-- card -->
      <div class="card" routerLink="/category">
         
            <div class="icon"><i class="material-icons md-36">book</i></div>
            <p class="title">Courses</p>
            <p class="text">Over 400+ courses in multiple categories</p>
         
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card" routerLink="/forum">
         
            <div class="icon"><i class="material-icons md-36">pending</i></div>
            <p class="title">Students forums</p>
            <p class="text">Students can interact with each other by answering and asking question on our forum</p>
         
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card" routerLink = "/join">
         
            <div class="icon"><i class="material-icons md-36">perm_contact_calendar</i></div>
            <p class="title">Become a teacher</p>
            <p class="text">Join us by filling out the form with specefic details </p>
         
      </div>
      <!-- end card -->
   

   
   </div>



