<div class="containers">
    <div class="img">
        <img src="/assets/1.png">
    </div>
    <div class="login-content">
        <div>
        <img src="/assets/ed.png">
        <div>
            <h2 class="title">Teach with us</h2>
        </div>
   
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
    <div class="div">
        <h5>Full Name</h5>
        <input type="text" class="form-control" placeholder="Full Name" id="nom" required>
    </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-at"></i>
        </div>
    <div class="div">
        <h5>Email</h5>
        <input type="text" class="form-control" placeholder="email" id="email" required>
    </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-phone"></i>
        </div>
    <div class="div">
        <h5>Phone Number</h5>
        <input type="text" class="form-control" placeholder="Phone Number" id="num" required>
    </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fab fa-linkedin"></i>
        </div>
    <div class="div">
        <h5>Linkedin Profile</h5>
        <input type="text" class="form-control" placeholder="Linkedin Profile" id="link">
    </div>
   
    
    </div>
    <input hidden #uploader type = "file"  id = "upload" (change) = "onSelectFile($event)">
    <div class="div">
        
       
        
     </div>
     <button  class = "btn-primary" (click) = "uploader.click()">Upload CV</button>
     <button type="submit" id="btn" (click) = "Upload()">Send</button>
    </div>
    
    </div>
    </div>
    