
<section class="pt-5 pb-5" data-aos="fade-in">
<div class="container">
  <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6 text-right">
          <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
          </a>
      </div>
      <div class="col-12">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                          <div class="ver_mas text-center">
                             <span  class="lnr lnr-eye"></span>
                          </div>
                          <article class="text-left">
                             <h2>Design</h2>
                             <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro nihil quis officia, ipsam modi, assumenda excepturi omnis fugit in molestiae officiis soluta, ducimus sint consequuntur vero provident corrupti libero.</h4>
                          </article>
                          <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design.jpg" alt="">
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                        <div class="ver_mas text-center">
                           <span  class="lnr lnr-eye"></span>
                        </div>
                        <article class="text-left">
                           <h2>Development</h2>
                           <h4>Descripción corta de la imagen en cuestión</h4>
                        </article>
                        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development.jpg" alt="">
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                      <div class="ver_mas text-center">
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                         <h2>Marketing</h2>
                         <h4>Descripción corta de la imagen en cuestión</h4>
                      </article>
                      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing.jpg" alt="">
                   </div>

                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                          <div class="ver_mas text-center">
                             <span  class="lnr lnr-eye"></span>
                          </div>
                          <article class="text-left">
                             <h2>Software</h2>
                             <h4>Descripción corta de la imagen en cuestión</h4>
                          </article>
                          <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software.jpg" alt="">
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                        <div class="ver_mas text-center">
                           <span  class="lnr lnr-eye"></span>
                        </div>
                        <article class="text-left">
                           <h2>Personal Development</h2>
                           <h4>Descripción corta de la imagen en cuestión</h4>
                        </article>
                        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development.jpg" alt="">
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                      <div class="ver_mas text-center">
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                         <h2>Business</h2>
                         <h4>Descripción corta de la imagen en cuestión</h4>
                      </article>
                      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business.jpg" alt="">
                   </div>

                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                          <div class="ver_mas text-center">
                             <span  class="lnr lnr-eye"></span>
                          </div>
                          <article class="text-left">
                             <h2>Photography</h2>
                             <h4>Descripción corta de la imagen en cuestión</h4>
                          </article>
                          <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography.jpg" alt="">
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                        <div class="ver_mas text-center">
                           <span  class="lnr lnr-eye"></span>
                        </div>
                        <article class="text-left">
                           <h2>Music</h2>
                           <h4>Descripción corta de la imagen en cuestión</h4>
                        </article>
                        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music.jpg" alt="">
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                      <div class="ver_mas text-center">
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                         <h2>TÍTULO DE <br>LA IMAGEN</h2>
                         <h4>Descripción corta de la imagen en cuestión</h4>
                      </article>
                      <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
                   </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
